<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xmlns:context="http://www.springframework.org/schema/context"
     xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd">
         
    <!-- <bean id="studentRepository" class="vn.com.cyberlogitec.beanfactoryXML.repositories.StudentRepositoryImpl"></bean>
	<bean id="studentService" class="vn.com.cyberlogitec.beanfactoryXML.services.StudentServiceImpl">
		<constructor-arg name="studentRepository" ref="studentRepository"></constructor-arg>
	</bean>-->
	<context:component-scan base-package="vn.com.cyberlogitec.beanfactoryAnnotation"/>
</beans>