<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Student</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
	integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
	integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
	crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
</head>
<body>
	<div class="header">
		<h1>Test MyBatis</h1>
	</div>

	<div class="container">
		<div id="menuSearch">
			<div class="search input-group">
				<div class="input-group-prepend">
					<input type="text" class="form-control" placeholder="Name"
						v-model="student.name"> 
					<input type="text" class="form-control" placeholder="Branch"
						v-model="student.branch">
					<input type="text" class="form-control" placeholder="Percentage"
						v-model="student.percentage">
					<input type="text" class="form-control" placeholder="Phone"
						v-model="student.phone">
				</div>
				<input type="text" class="form-control" placeholder="Email"
					v-model="student.email">
				<div class="input-group-append">
					<button class="btn btn-primary" id="search">
						<span class="material-icons"> pageview </span>
					</button> 
				</div>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-4">
				<div class="form">
					<div id="infoStudent">
						<div class="form-group">
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text">Name</span>
								</div>
								<input type="text" class="form-control" v-model="student.name">
							</div>
						</div>
	
						<div class="form-group">
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text">Branch</span>
								</div>
								<input type="text" class="form-control" v-model="student.branch">
							</div>
						</div>
	
						<div class="form-group">
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text">Percentage</span>
								</div>
								<input type="text" class="form-control" v-model="student.percentage">
							</div>
						</div>
	
						<div class="form-group">
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text">Phone</span>
								</div>
								<input type="text" class="form-control" v-model="student.phone">
							</div>
						</div>
	
						<div class="form-group">
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text">Email</span>
								</div>
								<input type="text" class="form-control" v-model="student.email">
							</div>
						</div>
					</div>
					<button class="btn btn-primary" id="save">Save</button>
					<button class="btn btn-danger" id="delete">Delete</button>
					<button class="btn btn-outline-dark" id="cancel">Cancel</button>
				</div>
			</div>
			<div class="col-8">
				<div id="vue-student-list">
					<student-table :data-student-list="studentList"></student-table>
				</div>
			</div>
		</div>

	</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script type="text/javascript" th:src="@{js/index.js}"></script>
</html>