<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>
     <typeAlias type="vn.com.cyberlogitec.practice_04.entity.Student" alias="student"/>
  </typeAliases>  
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/demo"/>
        <property name="username" value="root"/>
        <property name="password" value="K0themiss"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="vn/com/cyberlogitec/practice_04/dao/StudentMapper.xml" />
  </mappers>
</configuration> 