<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="studentRepository" class="com.BeanFactory.BeanFactoryXML.Repository.StudentRepositoryImpl"/>
	
	<bean id="studentService" class="com.BeanFactory.BeanFactoryXML.Service.StudentServiceImpl">
		<!-- MANUAL WIRE  -->
		<!-- Setter Injection -->
<!-- 		<property name="studentRepository" ref="studentRepository"/> -->
		
		<!-- Constructor Injection -->
<!-- 		<constructor-arg name="studentRepository" ref="studentRepository"></constructor-arg> -->
	</bean>	

</beans>
