<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cyberlogitec.jwat.springbootmybatis.mapper.EmployeeMapper">
    <select id="getEmployeeFromId" resultType="EmployeeInfo">
    select EMPLOYEE_ID, FIRST_NAME, LAST_NAME
    from employees
    where employee_id = #{id}
    </select>

    <resultMap id="result" type="EmployeeInfo">
        <result property="id" column="EMPLOYEE_ID"/>
        <result property="fName" column="FIRST_NAME"/>
        <result property="lName" column="LAST_NAME"/>
    </resultMap>
</mapper>
